@import url('https://fonts.googleapis.com/css?family=Montserrat');


.nav-container {
  background-color: rgba(255, 255, 255, 1);
  width: 85%;
  margin: 0 auto;
/*  border-right: 1px solid black;
  border-left: 1px solid black;*/
}

.nav {
  margin: 0 auto;
  border-width: 1px 0;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.forcasts-link {
  margin-right: 1%;
}

.news-link {
  margin-right: 1.5%;
}


.nav-text-links {
  text-decoration: none;
/*  background-color: rgba(0, 0, 0, 0.5);
*/  border-radius: 50px;
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.nav-text-links:hover {
  text-decoration: underline;
  color: black;
}

.nav li {
  display: inline;
}

.nav .nav-text-links {
  display: inline-block;
  padding: 10px;
}

.logo-img {
  margin-top: 15px;
  height: 130px;
  margin-bottom: 10px;
}

.logout-button {
  background-color: rgba(255, 255, 255, 1) !important;
  border: solid black 1px !important;
  border-radius: 100px !important;
  color: black !important;
  font-size: 20px !important;
  font-family: 'Montserrat', sans-serif !important;
  margin-left: 20px !important;
  margin-right: 35px !important;
}

.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
