@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");



.container-4 {
  max-width: 85%;
  min-height: 1300px;
  background-image: url("https://i.imgur.com/cuzPa6I.jpg");
  background-image: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
}


.forecast-container {
  max-width: 85%;
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.forecast-title {
  font-family: "Amatic SC", cursive !important;
  font-size: 70px !important;
}


