body {
  min-height: 1300px;
  margin: 0;
}

body > #container {
  min-height: 1300px;
}

.main-container {
  max-width: 100%;
  min-height: 1300px;
  background-image: url("https://i.imgur.com/dVDejtV.jpg");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

/*
https://i.imgur.com/dVDejtV.jpg
https://i.imgur.com/Pq8KZeW.jpg
https://i.imgur.com/wCEvj4s.jpg
*/

.logged-in-form {
  border: solid white 2px;
  width: 20%;
  margin-bottom: 50px;
  margin: 0 auto;
}

h1 {
  color: white;
}

/*.surf-report {

}*/






/*#beg-background {
  background-image: url("");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#int-background {
  background-image: url("");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#adv-background {
  background-image: url("");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}*/
