body {
  min-height: 2000px;
  margin: 0;
/*  background-image: url("https://i.imgur.com/dVDejtV.jpg");*/
  background-color: white;
}

body > #container {
  min-height: 1300px;
}

.content {
/*  position: relative;
  margin: 0 auto;*/
}

html {
  scroll-behavior: smooth;
}

/*.main-container {
  max-width: 85%; 
  min-height: 1300px;
  background-image: url("https://i.imgur.com/xEniclo.jpg");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  
}*/


/*
https://i.imgur.com/FVtU3wm.jpg

https://i.imgur.com/dVDejtV.jpg
https://i.imgur.com/Pq8KZeW.jpg





*/


/*.surf-Api-report {
  margin-top: 5%;
}*/

/*#beg-background {
  background-image: url("");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#int-background {
  background-image: url("");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#adv-background {
  background-image: url("");
  background-image: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}*/
