@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container-3 {
  max-width: 85%;
  min-height: 400px;
  background-image: url("https://i.imgur.com/85DinPu.jpg");
  background-image: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.spot-suggest-container {
  margin-top: 15%;
  width: 85%;
  font-family: 'Montserrat', sans-serif;

/*  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
/*border-top: 1px solid white;
  border-bottom: 1px solid white;*/
}

.quote {
  color: white;
  font-family: "Amatic SC", cursive !important;

}

.quote-author {
  color: gray;
}










p {
/*  background-color: rgba(0, 0, 0, .2);
*/  /*color: white;*/
/*  border: solid white 1px;
*/  /*border-radius: 10px;*/
/*  padding: 5px;
  margin: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;*/
}




